@import "tailwindcss";

@layer base {
    body {
        font-family: 'Space Mono', monospace;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'DM Sans', sans-serif;
    }
}

* {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><circle cx="8" cy="8" r="4" fill="white"/></svg>'), auto;
}

::selection {
    background: #007BFF
}